@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Fira Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container
{
  min-height: 100vh;
  background-color: #F5F7FA;
  display: flex;
  flex-direction: column;
}

.app-header__title
{
  color: #4A89DC;
  margin: 0;
  padding: 10px 0 0 0;
  text-align: center;
}

.main-container
{
  padding: 0 5px;
}

.search-bar
{
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar__input
{
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #CCD1D9;
  outline: none;
  color: #434A54;
}

.search-bar__button
{
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #E6E9ED;
  background-color: #5D9CEC;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.images
{
  display: flex;
  flex-direction: column;
}

.image
{
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 6px;
  margin: 10px 0;
}

.image__title
{
  margin: 0;
  color: #434A54;
  padding: 2px 0;
}

.image__info
{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.image__picture
{
  display: flex;
  border-radius: 6px;
}

.image__sub
{
  text-align: center;
  color: #656D78;
}

.image__creator
{
  margin: 5px 0;
  color: #434A54;
  text-align: right;
}
/* Screen Tablet */
@media screen and (min-width: 768px)
{
  .search-bar__input
  {
    width: 70%;
  }

  .images
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .image
  {
    width: 40%;
    margin: 20px 10px;
  }
}

@media screen and (min-width: 1200px)
{
  .search-bar__input
  {
    width: 30%;
  }

  .images
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .image
  {
    width: 20%;
    margin: 20px 10px;
  }
}
